.container-fluid {
  margin: 0 35px;
  padding: 0;
}

.logo {
  width: 280px;
  height: auto;
  margin: 10px;
}

.nav-link {
  margin: 10px;
  color: black;
}

.git-btn {
  border-width: 4px;
  border-radius: 10px;
  border-color: #4cffff;
  color: black;
  padding: 15px;
}

.git-btn:hover {
  background-color: #4cffff;
  border-color: #4cffff;
  color: black;
}

.test {
  background-color: blue;
  min-height: 1000px;
}
