* {
  font-family: "Montserrat", sans-serif;
}

.nav-container {
  margin: 0 35px;
  padding: 0;
}

.logo {
  width: 200px;
  height: auto;
}

.nav-link {
  margin: 10px;
  color: black;
}

.git-btn {
  border-width: 4px;
  border-radius: 10px;
  border-color: #4cffff;
  color: black;
  padding: 15px;
}

.git-btn:hover {
  background-color: #4cffff;
  border-color: #4cffff;
  color: black;
}

.jumbo-image {
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.9),
      rgba(100, 209, 198, 0.9)
    ),
    url(../images/head-home.webp) center center no-repeat;
  background-size: cover;
  background-position: right;
  padding: 2rem 1rem;
}

.jumbo-cont {
  margin-left: 0;
}

.jumbo-heading {
  font-size: 90px;
  font-weight: 600;
  margin: 0% 40% 0% 5%;
}

.jumbo-para {
  font-size: 20px;
  font-weight: 300;
  margin: 2% 25% 0% 5%;
}
